# -- Virtual Environment --
fastapienv/
# -- Python --
__pycache__/
*.pyc
# -- IDE --
.idea/
# -- Databases --
*.db
*.sqlite3
# -- Environment Variables --
*.env
.env
# Ignore Windows-specific files
Thumbs.db